OPENAQ_API_KEY=your_openaq_api_key_here
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=air_quality_raw
GCP_KEY_PATH=secrets/gcp-key.json
BQ_PROJECT=your_gcp_project_id
BQ_DATASET=raw_air_quality
BQ_TABLE=air_quality_raw
